.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000000;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    margin: 2px;
    text-decoration: none;
    color: black;
}