.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #fff;
    color: black;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}