.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000000;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}