body {
    background-image: url("./imgs/LoginResources/Login_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.form-login {
    margin: auto;
    max-width: 30%;
    margin-top: 100px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.217);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.68);
}

.form-login h1 {
    font-size: 3em;
    margin: 0 60px;
    text-align: left;
}

.form-login h4 {
    padding: 0;
    margin: 0 60px;
    text-align: left;
}

.form-login input {
    width: 70%;
    border: 1px white solid;
    background-color: transparent;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.form-login button {
    margin-top: 30px;
    background-color: #fff;
    color: black;
}
