body {
    background-color: #343434;
}
form {
    margin: auto;
    width: 30%;
    padding: 50px;
    background-color: #232323;
    border-radius: 10px;
}
input {
    border: none;
    background-color: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
