body {
    background-color: #343434;
}
form {
    margin: auto;
    max-width: 40%;
    margin-top: 100px;
    padding: 50px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

form h1 {
    text-align: center;
}

h4 {
    padding: 0;
    margin: 0;
    text-align: center;
}

input {
    width: 40%;
    border: 2px white solid;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
