body {
    background-image: url("./imgs/LoginResources/Login_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
form {
    margin: auto;
    max-width: 35%;
    margin-top: 100px;
    padding: 50px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

form h1 {
    text-align: center;
}

h4 {
    padding: 0;
    margin: 0;
    text-align: center;
}

input {
    width: 40%;
    border: 2px white solid;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
