body {
    background-image: url("./imgs/LoginResources/Login_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
