body {
    background-image: url("https://res.cloudinary.com/itermotus/f_auto,w_992,h_480,c_fill,g_auto,dpr_2/assets/lasbrisashotels/lashadas/galeria/lashadas_galeria-17.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
